/*---------------------lít bút-----------------------*/
.admin-content-right-category-list table{
    width: 100%;
    text-align: center;
    margin-top: 20px;
}
.admin-content-right-category-list table tr th,td{
    border: 1px solid #dddddd;
}
table{
    border-collapse: collapse;
}
/*----------------------end lít bút------------------------*/
.admin-content-right-sach-add h1{
    margin-bottom: 20px;
}
.admin-content-right-sach-add input,select{
    width: 200px;
    height: 30px;
    display: block;
    margin: 6px 0;
    padding-left: 12px;
}
.admin-content-right-sach-add textarea{
    display: block;
    height: 200px;
    width: 500px;
    margin-bottom: 12px;
    padding: 12px;
}
.admin-content-right-sach-add button{
display: block;
margin-top: 10px;
height: 30px;
width: 100px;
cursor: pointer;
background-color: burlywood;
border: none;
color: white;
transition: all 0.3s ease;
}
.admin-content-right-sach-add button:hover{
background-color: transparent;
border: 1px solid brown;
color: brown;
}