/*--------------------SanPham------------------------*/
.san_pham{
	padding: 100px 0;
}
.san_pham_left{
	width: 50%;
}
.img_san_pham{
	width: 80%;
	padding-right: 20px;
}
.img_san_pham img{
	width: 100%;
	box-shadow: #3a3939;
}
.san_pham_right{
	width: 50%;
}
.img_sp_sm{
	width: 20%;
}
.sp_thongtin{
	margin-top: 30px;
	border-top: solid;
	border-bottom: solid;
	border-color: salmon;
	padding: 20px 0px;
}
.san_pham_right_sp_name{
	font-size: small;
}
.price_sp{
	font-size: xx-large;
	color: red;
	margin-bottom: 20px;
}
.price_sp_free{
	padding-top: 10px;
	color:green;
	margin-bottom: 20px;
}
.sp_tomtat_sach{
	padding-top: 20px;
}
.container_heart {
	background-color: antiquewhite;
	display: flex;
	align-items: center;
	gap: 14px;
	padding: 10px 15px 10px 10px;
	cursor: pointer;
	user-select: none;
	border-radius: 10px;
	box-shadow: rgba(46, 46, 46, 0.2) 0px 8px 24px;
	color: darkcyan;
	width: 250px;
  }
  
  #favorite {
	display: none;
	width: 50%;
  }
  #btnthue{
	width: 30%;
	margin-left: 20px;
	box-shadow: rgba(46, 46, 46, 0.2) 0px 8px 24px;
	background-color: antiquewhite;
  }
  #favorite:checked + .container_heart svg {
	fill: hsl(0deg 100% 50%);
	stroke: hsl(0deg 100% 50%);
	animation: heartButton 1s;
  }
  
  @keyframes heartButton {
	0% {
	  transform: scale(1);
	}
  
	25% {
	  transform: scale(1.3);
	}
  
	50% {
	  transform: scale(1);
	}
  
	75% {
	  transform: scale(1.3);
	}
  
	100% {
	  transform: scale(1);
	}
  }
  
  #favorite + .container_heart .action {
	position: relative;
	overflow: hidden;
	display: grid;
  }
  
  #favorite + .container_heart .action span {
	grid-column-start: 1;
	grid-column-end: 1;
	grid-row-start: 1;
	grid-row-end: 1;
	transition: all 0.5s;
  }
  
  #favorite + .container_heart .action span.option-1 {
	transform: translate(0px, 0%);
	opacity: 1;
  }
  
  #favorite:checked + .container_heart .action span.option-1 {
	transform: translate(0px, -100%);
	opacity: 0;
  }
  
  #favorite + .container_heart .action span.option-2 {
	transform: translate(0px, 100%);
	opacity: 0;
  }
  #favorite:checked + .container_heart .action span.option-2 {
	transform: translate(0px, 0%);
	opacity: 1;
  }

  /*-------------------------DK THÀNH VIÊN--------------------*/
  .Btn {
	width: 240px;
	height: 40px;
	border: none;
	border-radius: 10px;
	background: linear-gradient(to right,#bf953f,#fcf6ba,#b38728,#fbf5b7,#aa771c);
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
	font-size: 0.8em;
	color: rgb(121, 103, 3);
	font-weight: 600;
	cursor: pointer;
	position: relative;
	z-index: 2;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.144);
	background-size: 200% 200%;
	margin-top: 15px;
  }
  .logoIcon path {
	fill: rgb(145, 139, 111);
  }
.san_pham_content ul li .share {
	display: inline-block;
}
.san_pham_content ul li{
	list-style-type: none;
}

.san_pham_content ul li .share a {
	display: inline-block;
	font-size: 15px;
	color: #1c1c1c;
	margin-right: 25px;
}

.san_pham_content ul li .share a:last-child {
	margin-right: 0;
}
    /*-------------------------DK THÀNH VIÊN--------------------*/
/*--------------------SanPham------------------------*/
@media screen and (max-width: 715px){
	#btnthue{
		margin-top: 20px;
		width: 240px;
	}
	#btndktv{
		margin-top: 20px;
		width: 230px;
	}
	.san_pham_right_sp_gia {
		font-size: small;
	}
	.san_pham_right_sp_gia .price_sp{
		font-size:large;
	}
	#btndktv{
		margin-top: 20px;
		width: 180px;
	}
  }
  @media screen and (max-width: 1000px)
  {
	#btnthue{
		margin-top: 20px;
		width: 230px;
	}
  }