/* header */
.header__top {
	background: #dfb16d;
}

.header__top__left {
	padding: 8px 0;
}

.header__top__left {
	font-size: 16px;
	color: rgb(92, 56, 15);
	display: inline-block;
	margin-right: 45px;
}

.header__top__right {
	text-align: right;
	padding: 10px 0 13px;

}

.header__top__right__social {
	display: inline-block;
	margin-right: 35px;
}

.header__top__right__social a {
	display: inline-block;
	font-size: 20px;
	color: rgb(92, 56, 15);
	margin-right: 20px;
	transition-property: transform;
	transition-duration: 0.3s;
	transition-timing-function: ease;
	transition-delay: 0s;
}

.header__top__right__social a:hover {
	color: rgb(172, 92, 0);
	transform: translateY(-3px);
}

.header__top__right__language {
	position: relative;
	display: inline-block;
	margin-right: 40px;
	cursor: pointer;
}

.header__top__right__language:hover ul {
	top: 23px;
	opacity: 1;
	visibility: visible;
}

.header__top__right__language div {
	font-size: 16px;
	color: rgb(92, 56, 15);	
}

.header__top__right__language:hover div {
	color: rgb(172, 92, 0);
}

.header__top__right__language ul {
	background: rgb(214, 177, 127);
	width: 100px;
	text-align: center;
	padding: 5px 0;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	position: absolute;
	left: 0;
	top: 43px;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all, 0.3s;
	-moz-transition: all, 0.3s;
	-ms-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
}

.header__top__right__language ul li {
	list-style: none;
}

.header__top__right__language a {
	display: block;
	font-size: 14px;
	color: #ffffff;
	padding: 5px 10px;
	text-decoration: none;
	transition-property: transform;
	transition-duration: 0.3s;
	transition-timing-function: ease;
	transition-delay: 0s;
}
.header__top__right__language li:hover {
	background-color: rgb(172, 92, 0);

}
.header__top__right__language a:hover {
	color: black;
	transform: translateY(-2px);

}

.container-hd {
	padding: 16px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}

/* end header */

@media only screen and (min-width: 1200px) {
	.container-hd {
		max-width: 1170px;
	}
}

/*start menu*/
html,
body {
	height: 100%;
}

ul,
ol {
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
}

a:hover,
a:focus {
	text-decoration: none;
	outline: none;
	color: #ffffff;
}

.container-menu {
	margin-top: 1rem;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 2rem;
	padding-right: 2rem;
	margin-bottom: 1rem;
}

.header__menu {
	height: 60px;
	display: flex;
	justify-content: center;
	gap:3px;
}
.header__menu .iconhead{
	display: none;
}

@media screen and (max-width: 900px) {
	.header__menu a:not(:last-child){
		display: none;
	}
	.header__menu a.iconhead{
		display:flex;
	}
	.header__menu.responsive .menu_dropdown{
		display: block;
	}
	.header__menu.responsive .menu_dropdown a{
		display: block;
	  }
	.header__menu.responsive .menu_dropdown {
		top: 0px;
		opacity: 1;
		visibility: visible;
	  }
  }
.header__menu a{
	width: 150px;
	height: 100%;
	color: #331806;
	font-weight: 600;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #ddc8ab;
	border-radius: 10px;
	transition-property: transform;
	transition-duration: 0.3s;
	transition-timing-function: ease;
	transition-delay: 0s;
}
.menu_dropdown {
	display: none;
	list-style-type: none ;
	position: absolute;
	left: 0;
	top: 5px;
	z-index: 1;
	padding: 5px 0;
	-webkit-transition: all, 0.3s;
	-moz-transition: all, 0.3s;
	-ms-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
	opacity: 0;
	visibility: hidden;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	background-color: #ebddca;
}
.menu_dropdown a{
	background-color: #00000000;
}
.menu_dropdown_left {
	list-style-type: none ;
	position: absolute;
	left: 140px;
	top: -2px;
	z-index: 1;
	padding: 5px 0;
	-webkit-transition: all, 0.3s;
	-moz-transition: all, 0.3s;
	-ms-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
	opacity: 0;
	visibility: hidden;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	background-color: #ebe4db;
}
.menu_dropdown div:hover .menu_dropdown_left {
	left:150px;
	opacity: 1;
	visibility: visible;
}
#headercolor{
	background-color: #e2c192;
}
.header__menu a:hover{
	transform: translateY(-5px);
	color: #ff9933;

}
.header__menu div{
	position: relative;
}

.header__menu__dropdown {
	list-style-type: none ;
	position: absolute;
	left: 0;
	top: 40px;
	z-index: 1;
	padding: 5px 0;
	-webkit-transition: all, 0.3s;
	-moz-transition: all, 0.3s;
	-ms-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
	opacity: 0;
	visibility: hidden;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	background-color: #ebddca;

}
.header__menu__dropdown li{
	color: #3d220f;
	text-align: center;
}
.header__menu__dropdown li a{
	color: #3d220f;
	border-radius: 0px;
	text-align: center;
	background-color: #00000000;
}

.header__menu__dropdown li:hover>a {
	color: #ff9933;
}

.header__menu div:hover .header__menu__dropdown {
	top: 64px;
	opacity: 1;
	visibility: visible;
}
.header__menu__dropdown li a {
	font-size: 14px;
	color: #252525;
	font-weight: 600;
	-webkit-transition: all, 0.3s;
	-moz-transition: all, 0.3s;
	-ms-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
	padding: 5px 0;
}


/*--login--*/
.user,
.pass {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
}

.container-frm {
	padding: 16px;
}

.container-qm {
	padding: 16px;
}

button:hover {
	opacity: 0.8;
}

.cancelbtn {
	width: auto;
	padding: 10px 18px;
	background-color: #f44336;
}

.container-lg {
	text-align: center;
	margin: 24px 0 12px 0;
	position: relative;
	padding: 16px;
}

.avatar {
	width: 30%;
	border-radius: 50%;
}

span.psw {
	float: right;
	padding-top: 20px;
}

.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.4);
	padding-top: 60px;
}

.modal-content {
	background-color: #fefefe;
	margin-left: 25%;
	margin-top: -3%;
	border: 1px solid #888;
	width: 50%;
}

.close {
	position: absolute;
	right: 25px;
	top: 0;
	color: #000;
	font-size: 35px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: red;
	cursor: pointer;
}

.animate {
	-webkit-animation: animatezoom 0.6s;
	animation: animatezoom 0.6s;
}

@-webkit-keyframes animatezoom {
	from {
		-webkit-transform: scale(0);
	}

	to {
		-webkit-transform: scale(1);
	}
}

@keyframes animatezoom {
	from {
		transform: scale(0);
	}

	to {
		transform: scale(1);
	}
}

@media screen and (max-width: 300px) {
	span.psw {
		display: block;
		float: none;
	}

	.cancelbtn {
		width: 100%;
	}
}

/*end menu*/

/* timkiem */

.thanhtimkiem {
	display: flex;
	align-items: center;
}

.thanhtimkiem__logo {
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: center;
	margin-right: 150px;
}

.thanhtimkiem__logo img {
	width: 130px;
	border-radius: 50%;
}

.thanhtimkiem__search {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}

.thanhtimkiem__search__form {
	width: 500px;
	height: 50px;
	border: 1px solid #c9892ade;
	position: relative;
	border-radius: 30px;
	background-color: #f5f5f5;
}

.thanhtimkiem__search__form form .thanhtimkiem__search__theloai {
	position: relative;
	width: 23%;
	height: 35px;
	font-size: 16px;
	color: #5a3e13de;
	padding-left: 10px;
	padding-top: 5px;
	margin-top: 6px;
	border-top-left-radius: 22px;
	border-bottom-left-radius: 22px;
	border-right: #6f6f6f solid 1px;
}

.thanhtimkiem__search__form form .thanhtimkiem__search__theloai:hover ul {
	visibility: visible;
	top: 44px;
	opacity: 1;
}

.thanhtimkiem__search__form form .thanhtimkiem__search__theloai:hover {
	color: #c9892ade;
}

.thanhtimkiem__search__form form .thanhtimkiem__search__theloai ul {
	background-color: #eed88f;
	border-bottom-left-radius: 10%;
	border-bottom-right-radius: 10%;
	list-style-type: none;
	z-index: 1;
	width: 100%;
	text-align: center;
	padding: 5px 0;
	position: absolute;
	left: 0;
	top: 20px;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all, 0.3s;
	-moz-transition: all, 0.3s;
	-ms-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
}

.thanhtimkiem__search__theloai a {
	display: block;
	color: rgb(68, 50, 1);
	font-size: 14px;
	font-weight: 400;
	padding: 5px 10px;
	transition-property: transform;
	transition-duration: 0.3s;
	transition-timing-function: ease;
	transition-delay: 0s;
}

.thanhtimkiem__search__theloai li:hover {
	background-color: #c9892ade;
}

.thanhtimkiem__search__theloai a:hover {
	color: white;
	transform: translateY(-2px);
}

.thanhtimkiem__search__form form input {
	border: none;
	width: 67%;
	height: 47px;
	outline: none;
	font-size: 16px;
	color: black;
	padding: 10px 15px;
	background-color: #f5f5f5;
	position: absolute;
	top: 0px;
	left: 23%;
}

.thanhtimkiem__search__form form input::placeholder {
	color: #c4bca5;
}

.thanhtimkiem__search__form form button {
	position: absolute;
	right: 3px;
	top: 4px;
	font-size: 30px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: none;
	background-color: #f5f5f5;
	justify-content: center;
	align-items: center;
	display: flex;
	color: #5a3e13de;
}

.thanhtimkiem__search__form form button:hover {
	background-color: #c9892ade;
	font-size: 32px;
}

.thanhtimkiem__search__canhan {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	gap: 1rem;
	
}

.thanhtimkiem__search__canhan i {
	display: inline-block;
	color: #5a3e13de;
	font-size: 30px;
	padding: 5px 5px;

	transition-property: transform;
	transition-duration: 0.3s;
	transition-timing-function: ease;
	transition-delay: 0s;
}
.thanhtimkiem__search__canhan a:last-child{
	display: none;
}

.thanhtimkiem__search__canhan i:hover {
	background-color: #c9892ade;
	border-radius: 20%;
	transform: translateY(-5px);
}

.thanhtimkiem__search .icon {
	display: none;
	color: #5a3e13de;
}

.container_srch {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}

@media screen and (max-width: 768px) {
	.container_srch {
		max-width: 768px;
	}

	@keyframes hiensearch {
		from {
			opacity: 0;
			transform: rotate(-180deg);
		}

		to {
			opacity: 1;
		}
	}

	@keyframes dongsearch {
		from {
			opacity: 1;
		}

		to {
			opacity: 0;
		}
	}

	@keyframes hieninput {
		from {
			display: none;
			transform: translateX(-367px);
		}

		to {
			transform: translateX(0);
		}
	}

	@keyframes donginput {
		from {
			display: block;
			transform: translateX(0);
		}

		to {
			transform: translateX(-367px);
		}
	}

	@keyframes hienclose {
		from {
			display: none;
			transform: translateX(-367px);
		}

		to {
			transform: translateX(0);
		}
	}

	@keyframes dongclose {
		from {
			display: flex;
			transform: translateX(0px);
		}

		to {
			transform: translateX(-367px);
		}
	}

	.thanhtimkiem__search__form {
		display: none;
		animation-name: donginput;
		animation-duration: 0.5s;
	}

	.thanhtimkiem__search .icon {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		font-size: 30px;
	}

	.thanhtimkiem__search .icon i:hover {
		background-color: orange;
		border-radius: 20%;
		font-size: 33px;
	}

	.thanhtimkiem__search .icon .item1 {
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		left: 4px;
		width: 40px;
		height: 40px;
		animation-name: hiensearch;
		animation-duration: 1s;
	}

	.thanhtimkiem__search .icon .item2 {
		display: none;
		animation-name: dongclose;
		animation-duration: 0.65s;
	}

	.thanhtimkiem__search.responsive .thanhtimkiem__search__form {
		display: block;
		animation-name: hieninput;
		animation-duration: 0.5s;
		animation-timing-function: ease-in;
		animation-delay: 0s;
		animation-direction: normal;
		animation-fill-mode: forwards;
	}

	.thanhtimkiem__search__theloai {
		display: none;
	}

	.thanhtimkiem__search.responsive .icon {
		display: flex;
		justify-content: flex-end;
	}

	.thanhtimkiem__search.responsive .icon .item1 {
		display: none;
		animation-name: dongsearch;
		animation-duration: 0.3s;
	}

	.thanhtimkiem__search.responsive .icon .item2 {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 40px;
		height: 40px;
		animation-name: hienclose;
		animation-duration: 0.65s;
	}

	.thanhtimkiem__search.responsive .thanhtimkiem__search__form form input {
		border-top-left-radius: 30px;
		border-bottom-left-radius: 30px;
		position: absolute;
		left: 0;
		width: 85%;
	}

	.thanhtimkiem__search__canhan {
		justify-content: flex-end;
	}
	
	.thanhtimkiem__search__canhan a:last-child{
		display: block;
	}
	.thanhtimkiem__search__canhan a:not(:last-child) {
		display: none;
	}

	.thanhtimkiem__search__canhan.responsive a{
		display: block;
	}

}
.btnkhampha{
	display: flex;
	justify-content: center;
	margin-top: 2rem;
	margin-bottom: 1rem;
}
.btnkhampha a{
	padding: 10px 10px;
	background-color: #5e2d0c;
	border-radius: 10px;
	color: white;
	font-weight: 500;
	box-shadow: 0px 0px 10px 1px grey;
	transition: transform 0.3s ease 0s;
}
.btnkhampha a:hover{
	transform: translateY(-7px);
}
@media screen and (max-width: 768px) {
	.thanhtimkiem__search {
		padding-bottom: 10px;
	}

	.thanhtimkiem__search__canhan {
		padding-bottom: 10px;
	}

	.thanhtimkiem__search__form form .thanhtimkiem__search__theloai {
		font-size: 14px;
	}

	.thanhtimkiem__search__form form .thanhtimkiem__search__theloai a {
		font-size: 11px;
	}

	.thanhtimkiem__search__form form .thanhtimkiem__search__theloai a:hover {
		color: white;
		font-size: 12px;
	}

	.thanhtimkiem__search__form form input {
		width: 60%;
		margin-left: 2px;
	}
}

@media screen and (max-width: 992px) {
	.thanhtimkiem__search {
		padding-bottom: 10px;
	}

	.thanhtimkiem__search__canhan {
		padding-bottom: 10px;
	}
	.thanhtimkiem__search__theloai i {
		display: none;
	}
}

@media only screen and (min-width: 1200px) {
	.container_srch {
		max-width: 1170px;
	}
}


/* end tim kiem */
/* slide show */
* {
	box-sizing: border-box;
}

body {
	font-family: Verdana, sans-serif;
	margin: 0;
}

.mySlides {
	display: none;
}

img {
	vertical-align: middle;
}

/*container slide show*/
.slideshow-container {
	max-width: 1000px;
	position: relative;
	margin: auto;
}

.prev,
.next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -22px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
}

.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
	background-color: rgba(0, 0, 0, 0.8);
}

/*123*/
.numbertext {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}

.dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.active,
.dot:hover {
	background-color: #717171;
}

.f {
	animation-name: fade;
	animation-duration: 1.5s;
}

@keyframes fade {
	from {
		opacity: 0.4;
	}

	to {
		opacity: 1;
	}
}

@media only screen and (max-width: 300px) {

	.prev,
	.next,
	.text {
		font-size: 11px;
	}
}

/* end slide show */
/* start hướng dẫn thành viên */
.huongdanthanhvien {
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.container_huongdan {
	max-width: 1250px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 2rem;
	padding-right: 2rem;
}

.huongdan {
	border: 1px solid #dfb16d;
	border-radius: 20px;
	background-color: whitesmoke;
}

.huongdanthanhvien h5 {
	background-color: #dfb16d;
	padding: 10px;
	color: white;
	width: 100%;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	padding: 10px 10px;
}

.contenthuongdan {
	padding-bottom: 20px;
}

.huongdanthanhvien ul {
	padding: 10px 15px 20px 15px;
}

.huongdanthanhvien li {
	width: 100%;
	height: 100%;
	list-style-type: none;
	border-radius: 10px;
	box-shadow: 0px 0px 10px 1px grey;
	display: flex;
	flex-wrap: wrap;
	align-content: space-between;
}

.huongdanthanhvien li div:first-child {
	border-bottom: 1px solid rgb(221, 216, 216);
	padding: 10px;
	color: black;
	font-size: 14px;
	font-weight: 540;
	width: 100%;
}

.huongdanthanhvien li div:not(:first-child) {
	color: rgb(110, 109, 109);
	font-size: 13px;
	padding: 10px 10px;
}

.huongdanthanhvien li a {
	width: 100%;
	padding: 10px 10px;
	font-size: 14px;
	background-color: #ebe8e8;
	color: darkblue;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.huongdanthanhvien li a:hover {
	text-decoration: underline;
}

/* end hướng dẫn thành viên  */

/* start sách */

.tusach {
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.tusach h3 i {
	font-weight: 600;
}

.tusach h3 {
	padding: 1rem 0 1rem 3rem;
}

.container_sach {
	max-width: 1300px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 1rem;
	padding-right: 1rem;
}

.cangiuasach {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.gapsach {
	font-size: 14px;
	font-weight: 500;
	border: 1px solid rgb(163, 161, 161);
	padding: 20px 20px;
	border-radius: 10px;
	box-shadow: 0px 0px 10px 1px grey;
	background-color: whitesmoke;
	display: flex;
	flex-wrap: wrap;
	align-content: space-between;
}

.gapsach img {
	height: 270px;
	width: 210px;
	border-radius: 5px;
}

.gapsach button {
	font-size: 14px;
	margin: 10px 2px 0px 2px;
	border: none;
	width: 98px;
	height: 2rem;
	border-radius: 7px;
	color: white;
	transition-property: transform;
	transition-duration: 0.3s;
	transition-timing-function: ease;
	transition-delay: 0s;
}

.gapsach button:hover{
	transform: translateY(-5px);
}

.btnyeuthich {
	background-color: rgb(238, 71, 71);
}

.btnthue {
	background-color: rgb(71, 71, 214);
}

.gapsach h5 {
	padding-top: 10px;
}

.gapsach a {
	color: black;
}

.sach {
	width: 286px;
	display: flex;
	justify-content: center;
	padding: 20px;
}

/* end sách */

/*feature*/
/*begin*/
.featured__item__pic {
	height: 270px;
	position: relative;
	overflow: hidden;
	background-position: center center;
}

.featured__item__text {
	text-align: center;
	padding-top: 15px;
}

.featured__item__text h6 a {
	color: #252525;
}

.img_featured {
	width: 90%;
	height: 100%;
	border-radius: 20px;
}

.book {
	box-shadow: 9px 4px 8px 0 lightblue;
	margin: auto;
	text-align: center;
	border-radius: 20px;
}

/*end*/
/*begin*/
body {
	background-color: #EBEBE3;
	margin: 0;
	font-size: 1.2rem;
}

.title_card {
	font-weight: 100;
	text-align: center;
}

.cards {
	display: grid;
	grid-auto-flow: dense;
	grid-auto-rows: 300px auto auto;
	grid-template-columns: repeat(auto-fit, minmax(min(100%, 20ch), 1fr));
	gap: 1em;
	width: min(100ch, calc(100% - 2rem));
	margin: 0 auto;
}

.card {
	background-color: #F9F6EF;
	display: grid;
	grid-row: span 3;
	grid-template-rows: subgrid;
	border: 1px solid #0002;
	box-shadow: 0.1em 0.1em 0.5em #0003;
	border-radius: 0.5em;
	overflow: hidden;
}

.card img {
	height: 100%;
	width: 100%;
}

.card h3,
.card .actions {
	padding-inline: 0.5em;
	margin: 0;
}

.card .actions {
	display: flex;
	justify-content: space-between;
	padding-bottom: 1em;
	color: #1784ba;
}

.card .actions button {
	all: unset;
	animation: 0.3s ease;
	padding: 0.1em 0.5em;
	border: 1px solid transparent;
	border-radius: 0.3em;
	cursor: pointer;
}

.card .actions button:hover {
	border: 1px solid currentcolor;
}

.card .actions button:active {
	background-color: #1784ba;
	color: #F9F3EE;
	border: 1px solid #000;
}

.card .actions>* {
	padding: 0.1em 0.5em;
}

.big {
	grid-column: 1/-1;
	grid-row: 4/7;
	grid-template-rows: auto 1fr;
}

.big .notes {
	padding: 0.5em;
}

.big h3 {
	padding-top: 0.5em;
}

/*end*/
/*-----------------*/
/*footer*/
/*-----------------*/
.footer-container {
	position: relative;
	bottom: 0;
	width: 100%;
}

.footer {
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
}

.newsletter {
	display: flex;
	width: 100%;
	position: relative;
	top: 60px;
	max-width: 1000px;
	margin: auto;
	background-color: #303035;
	justify-content: space-around;
	align-items: center;
	padding: 20px 15px;
	border-radius: 10px;
}

.newsletter-left h2 {
	color: #ffffff;
	text-transform: uppercase;
	font-size: 1rem;
	opacity: 0.5;
	letter-spacing: 1px;
}

.newsletter-left h1 {
	color: #ffffff;
	text-transform: uppercase;
	font-size: 1.5rem;
}

.newsletter-right {
	width: 500px;
}

.newsletter-input {
	background-color: #ffffff;
	padding: 5px;
	border-radius: 20px;
	display: flex;
	justify-content: space-between;
}

.newsletter-input input {
	border: none;
	outline: none;
	background: transparent;
	width: 80%;
	padding-left: 10px;
	font-weight: 600;
}

.newsletter-input button {
	background-color: #201e1e;
	padding: 9px 15px;
	border-radius: 15px;
	color: #ffffff;
	cursor: pointer;
}

.newsletter-input button:hover {
	background-color: #3a3939;
}

.footer-content {
	background-color: #dfb16d;
	padding: 100px 40px 40px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.footer-main {
	margin: 10px 20px;
}

.footer-main h2 {
	color: #ffffff;
	font-size: 1.6rem;
}

.footer-main p {
	color: #ffffff;
	font-size: 0.8rem;
	line-height: 1.3rem;
}

.social-links {
	margin: 15px 0px;
	display: flex;
	gap: 8px;
}

.social-links a {
	padding: 5px;
	background-color: #dbd8e3;
	border-radius: 5px;
	transition: 0.5s;
	text-decoration: none;
}

.social-links a:hover {
	opacity: 0.7;
}

.social-links a i {
	margin: 2px;
	font-size: 1.1rem;
	color: #201e1e;
}

.links {
	display: flex;
	flex-direction: column;
	width: 200px;
	margin: 40px 20px;
}

.links p {
	font-size: 1.3rem;
	margin-bottom: 15px;
	font-weight: 600;
	color: #ffffff;
}

.links a {
	font-size: 0.8rem;
	text-decoration: none;
	margin-bottom: 15px;
	font-weight: 600;
	color: #dbd8e3;
	transition: 0.5s all;
}

.links a:hover {
	color: #303035;
}

@media screen and (max-width: 715px) {
	.newsletter {
		flex-direction: column;
	}

	.newsletter-left {
		margin-bottom: 10px;
	}

	.newsletter-right {
		width: 90%;
	}
}

/* section giới thiệu */
.container_gioithieu {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 2rem;
	padding-right: 2rem;
	padding-top: 2rem;
	padding-bottom: 5rem;
}

.container_gioithieu h1 {
	font-weight: 700;
	padding: 2rem 0 2rem 0;
	color: rgb(223, 171, 103);
}

.content_gioithieu {
	background-color: rgb(236, 204, 163);
	border-radius: 15px;
	width: fit-content;
	max-height: 510px;
	padding: 2rem 3rem 0 2rem;
	margin-bottom: 2rem;
}

.hinh {
	display: flex;
	justify-content: flex-end;
}

.hinh img {
	max-width: 170px;
	position: relative;
	left: 90px;
	border-radius: 20px;
}

.content_gioithieu div {
	color: #717171;
	font-size: 14px;
}

.content_gioithieu h2 {
	font-weight: 600;
	color: whitesmoke;
}

@media only screen and (max-width: 1144px) {
	.hinh {
		display: none;
	}
}

.content_hinh {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.caption {
	margin-top: 5px;
	font-size: 20px;
	font-weight: 700;
	color: rgba(201, 137, 54, 0.719);
}

.content_hinh img {
	max-width: 300px;
	border-radius: 50%;
}

.hinhgioithieu {
	display: flex;
	justify-content: center;
}

.hinhgioithieu img {
	max-width: 350px;
	border-radius: 20px;
	border-top-right-radius: 200px;
}

.reverse_content .hinhgioithieu img {
	border-top-left-radius: 200px;
	border-top-right-radius: 20px;
}

.vangioithieu {
	display: flex;
	flex-wrap: wrap;
	align-content: center;
}

.vangioithieu h1 {
	color: rgba(201, 137, 54, 0.719);
}

.vangioithieu div {
	color: #434437;
	font-size: 20px;
	text-align: justify;
}

.reverse_content {
	display: flex;
	flex-wrap: wrap;
	flex-direction:row-reverse;
}

@media only screen and (max-width: 992px) {
	.reverse_content {
		justify-content: center;
	}
}

.chiasekhachhang{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 1rem;
}
.chiasekhachhang h2{
	font-weight: 700;
	text-align: center;
}
.chiasekhachhang div{
	max-width: 800px;
	font-size: 15px;
	text-align:center;
	color:#6f6f6f;
}
.chiasekhachhang h5{
	font-weight: 600;
}
.chiasekhachhang img{
	max-width: 150px;
	border-radius: 50%;
}

.dieuhuong{
	display: flex;
	justify-content: center;
	gap: 1rem;
	align-items: center;
}
.nut{
	background-color: rgba(223, 145, 43, 0.719);
	height: 50px;
	width: 200px;
	font-size: 15px;
	font-weight: 600;
	color: white;
	box-shadow: 0px 0px 5px 0.5px grey;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}

@media only screen and (max-width: 400px) {
	.dieuhuong{
		flex-direction: column;
	}
}
/* end section giới thiệu */

/* section liên hệ */
.lienhe{
	background-color:#eed88f;
	border-radius: 30px;
}
.content_lienhe{
	width: fit-content;
	margin-left: 4rem;
	padding-bottom: 5rem;
}
.content_lienhe h1{
	color: #c9892ade;
}
.content_lienhe h3{
	color: #c99548de;
}
.content_lienhe i{
	font-size: 22px;
	color:rgb(243, 133, 82);
}
.content_lienhe div{
	font-size: 18px;
	color:rgb(94, 92, 92);
}
.sendemail{
	border-radius: 30px;
	background-color:#f3d4aa;
}
.sendemail h1{
	text-align: center;
	color: #b4790a;
}
.sendemail form{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.sendemail form input{
	border: none;
	margin-top: 1rem;
	border-bottom: 1px solid rgb(145, 142, 142);
	max-width: 350px;
	height: 50px;
	background-color: none;
	border-radius: 10px;
	font-size: 17px;
	padding-left: 1rem;
	background-color: #00000000;
}
.sendemail form textarea{
	background-color:#00000000;
	padding-top: 5px;
	padding-left: 1rem;
	margin-top: 1rem;
	border: none;
	border-bottom: 1px solid rgb(145, 142, 142);
	border-radius: 10px;
	max-width: 350px;
	height: 100px;
}
.sendemail form button{
	margin-top: 2rem;
	margin-bottom: 2rem;
	border-radius: 10px;
	width: 9rem;
	height: 3rem;
	background-color: #b4790a;
	color: white;
	border: none;
	box-shadow: 0px 0 10px 1px rgb(196, 167, 115);
}
.hinh2{
	position: absolute;
	top: 27rem;
	right: -10rem;
}
.hinh1{
	position: absolute;
	top: 27rem;
	left: -10rem;
}
.hinh3{
	width: 500px;
	margin-top: -2rem;
}
@media only screen and (max-width: 1350px) {
	.hinh1, .hinh2{
		display: none;
	}
}
@media only screen and (max-width: 550px) {
	.hinh3{
		max-width: 300px;
	}
	.content_lienhe{
		display: flex;
		flex-direction: column;
		margin-left: 1rem;
	}
}
/* end section liên hệ */

/* section thông tin cá nhân */
.personal{
	display: flex;
	align-items: center;
	font-size: 30px;
	font-weight: 600;
	gap:3rem;
}
.personal img{
	width: 90px;
	border-radius: 50%;
}
.personal_btn{
	margin-top: 2rem;
	display: flex;
	gap: 1rem;
}
.personal_btn a{
	background-color: #914513;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 40px;
	border-radius: 40px;
}
#naptien{
	width: 120px;
	transition-property: transform;
	transition-duration: 0.3s;
	transition-timing-function: ease;
	transition-delay: 0s;
}
#naptien:hover{
	transform: translateY(-5px);
}
#dangkyhoivien{
	width: 220px;
	transition-property: transform;
	transition-duration: 0.3s;
	transition-timing-function: ease;
	transition-delay: 0s;
}
#dangkyhoivien:hover{
	transform: translateY(-5px);
}
.personal_list{
	display: flex;
	flex-direction:column;
	gap: 0.5rem;
	margin-bottom: 2rem;
}
.personal_list a{
	padding: 7px 1rem;
	color: #5e2d0c;
	font-weight: 500;
	border-radius: 10px;
	transition-property: transform;
	transition-duration: 0.3s;
	transition-timing-function: ease;
	transition-delay: 0s;
}
.personal_list a:hover{
	background-color: #d3af81;
	transform: translateY(-5px);
}
.personal_info{
	margin-top: 1rem;
}
.personal_info form button{
	border-radius: 20px;
	padding: 5px 15px;
	margin-right: 10px;
	border: none;
	color: white;
}
.btncapnhat{
	background-color: #914513;
	transition-property: transform;
	transition-duration: 0.3s;
	transition-timing-function: ease;
	transition-delay: 0s;
}
.btncapnhat:hover{
	transform: translateY(-5px);
}
.btnhuy:hover{
	transform: translateY(-5px);
}
.btnhuy{
	background-color: #d49062;
	transition-property: transform;
	transition-duration: 0.3s;
	transition-timing-function: ease;
	transition-delay: 0s;
}
.changeavatar{
	margin-top: 1rem;
	display: flex;
	justify-content:flex-start;
	align-items: center;
	flex-direction: column;
}
.changeavatar img{
	width: 130px;
	border-radius: 50%;
	margin-bottom: 1rem;
}
.changeavatar button{
	border-radius: 20px;
	padding: 5px 10px;
	background-color: #d49062;
	color: white;
	border: none;
	transition: transform 0.3s ease 0s;
}
.changeavatar button:hover{
	transform: translateY(-5px);
}
.inputbox{
	position: relative;
}
.otherinfo{
	display:flex;
	flex-direction: row;
	gap: 1rem;
}
.inputbox input{
	padding: 1.2rem 1rem 5px 1rem;
	border-radius: 10px;
	border: 1px solid rgb(170, 170, 170);
	width: 100%;
	margin-bottom: 1rem;
	background-color: #faf0e6;
	color: #331806;
	font-size: 16px;
}
.inputbox select{
	padding: 1.2rem 1rem 5px 1rem;
	border-radius: 10px;
	border: 1px solid rgb(170, 170, 170);
	background-color: #faf0e6;
	height: 50px;
	margin-bottom: 1rem;
	color: #331806;
	font-size: 16px;
}
.inputbox span{
	position: absolute;
	top: 5px;
	left: 1rem;
	font-size: 12px;
	color: #331806;
}
.thongtincanhan{
	display: flex;
}
@media only screen and (max-width: 768px) {
	.thongtincanhan{
		flex-direction:column-reverse;
	}
}
.tab {
	margin-top: 2rem;
	margin-bottom: 1rem;
	display: flex;
  }
  @media only screen and (max-width: 576px) {
	.tab{
		flex-direction: column;
	}
  }
  .h3title{
	font-weight: 700;
	color:#3d220f;
  }
  .tab button{
	width: 100%;
	border-radius: 10px;
	border: 1px solid rgb(163, 162, 162);
	padding: 7px 10px;
	background-color: #723a14;
	color: white;
	transition: transform 0.3s ease 0s;
  }
  .tab button:hover{
	transform: translateY(-5px);
  }
.tab button.active {
	background-color: #3d220f;
  }
.tabcontent {
	display: none;
  }
/* end section thông tin cá nhân */
